[omnistat.collectors]
port = 8001
enable_rocm_smi = True
enable_amd_smi = False
enable_rms = True

rocm_path = /opt/rocm

allowed_ips = 127.0.0.1

[omnistat.collectors.rms]
host_skip = "login.*"
enable_annotations = False
job_detection_mode = file-based
job_detection_file = /tmp/omni_rmsjobinfo_usermode

[omnistat.query]
prometheus_url = http://localhost:9090
system_name = SLURM in Docker Cluster

[omnistat.usermode]
prometheus_logfile = prometheus-server.log
prometheus_binary = /usr/bin/prometheus
prometheus_datadir = prometheus-data

exporter_corebinding = 0
prometheus_corebinding = 0
