[omnistat.collectors]
port = 8000
enable_rocm_smi = True
enable_amd_smi = False
enable_rms = True

rocm_path = /opt/rocm

allowed_ips = 127.0.0.1

[omnistat.collectors.rms]
host_skip = "login.*"
enable_annotations = False
job_detection_mode = file-based
job_detection_file = /tmp/omni_rmsjobinfo_usermode

[omnistat.query]
prometheus_url = http://localhost:9090
system_name = SLURM in Docker Cluster

[omnistat.promserver]
logfile = prometheus-server.log
binary = /usr/bin/prometheus
datadir = prometheus-data
corebinding = 0
