[omnistat.collectors]
port = 8001
enable_rocm_smi = True
enable_amd_smi = False
enable_rms = True

# Path to local ROCM install to access SMI library
rocm_path = /opt/rocm

# List of IPs allowed to query the collector (comma separated). By
# default, access will be restricted to the localhost (127.0.0.1).
# Set this value to IP of companion Prometheus server.
allowed_ips = 0.0.0.0

[omnistat.collectors.rms]
host_skip = "login.*"
enable_annotations = False
job_detection_mode = file-based
job_detection_file = /tmp/omni_rmsjobinfo_usermode

[omnistat.query]
prometheus_url = http://localhost:9090
system_name = SLURM in Docker Cluster

[omnistat.promserver]
logfile = /tmp/prometheus-server.log
binary = /usr/bin/prometheus
datadir = /tmp/prometheus-data
corebinding = 0
