__pycache__
data_prom
.vscode
*.log
*.pdf
*~
docker/jobs/*
!docker/jobs/README.md
docker/victoria-metrics-data/*
!docker/victoria-metrics-data/README.md
build
omnistat.egg-info/
test/slurm-job-user.sh
