__pycache__
data_prom
.vscode
*.log
*.swp
*.pdf
*~
build
build-trace*
docker/data/*
docker/prometheus-data/
!docker/data/README.md
omnistat.egg-info/
omnistat/*.so
test/slurm-job-user.sh
grafana/json-models/user/
test/workloads/launch_kernels
test/workloads/vector_add
