[Unit]
Description=Prometheus exporter for HPC/GPU oriented metrics
Documentation=https://amdresearch.github.io/omnistat/
Requires=network-online.target
After=network-online.target

[Service]
User=omnidc
Environment="OMNISTAT_DIR=/home/omnidc/omnistat"
Environment="OMNIWATCH_CONFIG=/home/omnidc/omnistat/omnistat/config/omniwatch.default"
CPUAffinity=0
SyslogIdentifier=omnistat
ExecStart=${OMNISTAT_DIR}/omnistat-monitor
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no
Nice=19
Restart=on-failure

[Install]
WantedBy=multi-user.target
