[Unit]
Description=Prometheus exporter for HPC/GPU oriented metrics
Documentation=tbd
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
Environment="omnistat_DIR=/opt/omnistat"
Environment="omnistat_CONFIG=/etc/omnistat/config"
Environment="omnistat_PORT=8000"
ExecStart=/opt/omnistat/bin/gunicorn -b 0.0.0.0:${omnistat_PORT} omnistat.node_monitoring:app
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
