[omniwatch.collectors]

port = 8000
usermode_port = 8001
enable_rocm_smi = True
enable_slurm = True
logfile = exporter.log

[omniwatch.collectors.slurm]

host_skip = "login.*"

[omniwatch.report]

[omniwatch.query]
prometheus_url = http://localhost:9090
system_name = HPC Fund

# options for user-spawned promserver
[omniwatch.promserver]
template = prometheus.yml.template
binary = /home1/karl/downloads/prometheus-2.45.1.linux-amd64/prometheus
datadir = data_prom
logfile = prom_server.log
